<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Category</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Update Category</h2>
<form th:action="@{/update}" th:Object="${category}" method="post">
	<div class="form-group row">
	&nbsp;&nbsp;&nbsp;&nbsp;
	<div class="cal-xs-4">
		<label for="productCategoryId" style="font-size:15px;">Product Id:</label>
		<input type="text" class="form-control" id="productCategoryId" placeholder="Enter updated category" th:field="*{poductCategoryId}" readonly="readonly">
	</div>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<div class="cal-xs-4">
		<label for="productCategoryName" style="font-size:15px;">Product Category:</label>
		<input type="text" class="form-control" id="productCategoryName" placeholder="Enter updated category" th:field="*{productCategoryName}">
	</div>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<div class="cal-xs-4">
		<label for="productCategoryDesc" style="font-size:15px;">Product Description:</label>
		<input type="text" class="form-control" id="productCategoryDesc" placeholder="Enter updated description" th:field="*{productCategoryDesc}">
	</div>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<div class="cal-xs-4">
	<button class="btn btn-primary">Update Category</button>
	</div>
	</div>
</form>

<div class="container">
  <div class="row col-md-7 table-responsive">
	<table border="2" id="categoryTable" class="table">
		<thead>
			<tr>
				<th>Serial No.</th>
				<th>Product Category</th>
				<th>Product Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${cats.empty}">
			<td colspan="5"><span style="color:red">No categories available.</span></td>
			</tr>
			<tr th:each="cat,catStatus:${cats}" 
			th:style="${catStatus.odd} ? 'color: gray' : 'color: blue;'">
				<td th:text="${cat.poductCategoryId}"></td>
				<td th:text="${cat.productCategoryName}"></td>
				<td th:text="${cat.productCategoryDesc}"></td>
				<td><a th:href="@{/delete/{id}(id=${cat.poductCategoryId})}">Delete</a>/
				<a th:href="@{/update/{id}(id=${cat.poductCategoryId})}">Update</a></td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
</body>
</html>